*{
    padding: 0;
    border: 1px solid red;
    margin: 0;
    box-sizing: border-box;
}

#headerImg{
    background-color: aqua;
    height: auto;
    width: 100%;
}

.flex-container{
    display: flex;
    width: 90%;
    margin: 5%;
    gap: 1rem;
    background-color: brown;
    flex-wrap: wrap;
}

.card{
    height: 200px;
    width: 30%;
    background-color: aquamarine;
}

.card img{
    height: 50%;
    width: 100%;
}